<div class="section">
  <div class="about-header">
    スケジュールに優先順位をつけるのではない。優先すべきことをスケジュールにすべきである。
  </div>
  <p>by 7つの習慣(スティーブ・R・コーヴィ著)</p>
  <%= link_to "新規登録", new_user_registration_path, class: "btn btn-primary btn-lg" %>
</div>

<div class="section">
  <div class="about-header">
    四象限とは？
  </div>
  <p>四象限とは、頭の中を整理してスッキリするためのタスク管理ツールです。</p>
</div>

<div class="section">
  <div class="about-header">
    四象限ご利用時の注意点
  </div>
  <p>自分の人生にとって重要であるかを基準にしましょう。</p>
  <p>与えられた仕事や頼まれた用事の優先度を決めるために使うのはオススメできません。</p>
</div>

<div class="section">
  <div class="about-header">
    こんな方にオススメ
  </div>
  <p>仕事や用事を断るのが苦手な方</p>
  <p>働きすぎて疲れてしまった方</p>
  <p>仕事や生活の質を向上させたい方</p>
</div>

<div class="section">
  <div class="about-header">
    サービスの流れ
  </div>
</div>

<div class="section">
  <div class="about-header">
    早速使ってみる
  </div>
  <%= link_to "新規登録", new_user_registration_path, class: "btn btn-primary btn-lg" %>
</div>
