<h2>サービスの使い方</h2>
<p>・四象限FOUR QUADRANTSはあなたが最も注力すべきことを整理するためのツールです。</p>
<p>・メニューバーの「新規タスク」をクリックしてあなたのタスクを入力しましょう。</p>
<p>・あなたの頭の中にあるタスクは「重要なもの」ですか「緊急性なもの」ですか</p>

<h2>優先順位のつけかた</h2>
<p>・重要だし緊急なタスクは「必須」の象限に入れましょう。これこそが今あなたが一番にやるべき事柄です。</p>
<p>・重要だけれど緊急ではないタスクは「必要」の象限に入れましょう。本来、全ての重要なタスクは緊急性が高まる前、つまり「必要」の証言にあるうちに片付けてしまうべきです。</p>
<p>・重要だけれど緊急なタスクは「錯覚」の象限に入れましょう。周囲から突発的に発生したタスクはあなたの予定と優先順位を見出しますが、時間をかけずに片付けてしまえば晴れやかな気分になります。</p>
<p>・重要でもないし緊急でもないタスクは「無駄」の象限に入れましょう。本来、タスクとして書き出すことすら無駄なものですが、無駄なものを無駄だとあなた自身が明確に認識できるよう書き留めておくのです。</p>
<p>・ここまでできればあとは簡単です。優先順位に従ってタスクを片付けていくことがあなたの人生をより豊かにしてくれます。</p>
