<h2>サービス更新情報</h2>
<p>2018年8月12日 サービスの使い方ページを作成しました</p>
<p>2018年8月11日 管理者向け機能を追加しました</p>
<p>2018年8月10日 各象限に新規タスクアイコンを追加しました</p>
<p>2018年8月6日 ユーザー情報にユーザーネームを追加しました</p>
<p>2018年8月5日 スマホでのページ閲覧に対応しました</p>
<p>2018年5月13日 使い方ページを追加しました</p>
<p>2018年3月8日 サービスリリース</p>
